*{
    margin: 0;
    padding: 0;
}

#page-wrapper{
    width: 80%;
    margin: auto;
}

#content-wrapper{
    margin: 0px 20px 0px 20px;
}

.nav {
  background-color: #007bff;
  height: 100px;
  width: auto;
  border-radius: 0px 0px 10px 10px;
}

.nav-button {
  width: 150px;
  height: 60px;
  font-size: 20px;
  margin: 20px 0px 20px 20px;
}

#route-administration{
}

.route_form_headline {
  padding-left: 15px;
  padding-top: 12px;
}
