*{
    margin: 0;
    padding: 0;
}

#page-wrapper{
    width: 80%;
    margin: auto;
}

#content-wrapper{
    margin: 0px 20px 0px 20px;
}

.nav {
  background-color: #007bff;
  height: 100px;
  width: auto;
  border-radius: 0px 0px 10px 10px;
}

.nav-button {
  width: 160px;
  height: 60px;
  font-size: 20px;
  margin: 20px 0px 20px 20px;
}

h1{
    padding-top: 10px;
}

.login_alerts {
  font-size: 16px;
  margin-left: 10px;
  padding: 0px 10px 0px 10px;
  background-color: #ffc107;
  border-radius: 5px;
}

.login_label{
    font-size: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
}

#route-administration{
}

.route_form_headline {
  padding-left: 15px;
  padding-top: 12px;
}
